CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080'

database.default.hostname = localhost
database.default.database = database/shield.sqlite
database.default.DBDriver = SQLite3
database.default.DBPrefix =
database.default.port = 3306

cache.handler = file
cache.storePath = writable/cache/

SHIELD_ENABLED = true
SHIELD_MODE = enforce
SHIELD_APP_ID = demo-app
SHIELD_CHALLENGE = null
